@import 'hero.css';
@import 'markdown.css';
@import 'responsive.css';
@import 'search.css';
@import 'variables.css';

.page .hero__container {
  min-height: unset;
}

.page .hero h1 {
  margin: 0;
}

.article__preview .article__author-name {
  margin-left: 0;
}

.article__preview img + .article__author-name {
  margin-left: 0.5em;
}

.documentation {
  padding: 0;
}

ul {
  line-height: 1.5em;
}

.return-datagouvfr {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2em;
}

.side-pane .side-pane__menu {
  padding: 1.5em;
}

.side-pane__link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.edit {
  margin-top: 2em;
}
